[submodule "ext/gtest"]
	path = ext/gtest
	url = https://github.com/google/googletest.git
[submodule "ext/libvgio"]
	path = ext/libvgio
	url = https://github.com/vgteam/libvgio.git
[submodule "ext/htslib"]
	path = ext/htslib
	url = https://github.com/samtools/htslib.git
